body {
    background-color: #FDFD96;
}
div {
    background-color: #FF6961;
    border: 5px #8B4000;
}
h1 {
    text-align: center;
    font-family:'Courier New', 'Monaco', monospace
}
h2 {
    font-family:'Courier New', 'Monaco', monospace
}
h3 {
    font-family:'Courier New', 'Monaco', monospace
}
img {
    display:block;
    position:absolute;
    right:0px;
    width: 30%
}
p {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 900px;
}
li {
    font-style: bold;
}
a{
    color: #8B0000;
}
.citations {
    font-size: 12px;
    color: #8B4000;
}
#referencetitle {
    font-style: italic;
}